
<div class="filler"></div>
<nav class="navbar navbar-default navbar-fixed-top vst-navbar">
    <img class="vst-logo" src="../../../img/logo.png">
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav vst-nav">
            <li><a routerLink="/news" >News</a></li>
            <li><a routerLink="/teams">Teams</a></li>
            <li><a routerLink="/results">Resultate</a></li>
            <li><a routerLink="/history">Geschichte</a></li>
        </ul>
    </div>
    
</nav>