<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    <vst-season-selector (selectedSeasonChange)="onSeasonSelected($event)" [selectedSeason] = "selectedSeasonNumber"></vst-season-selector>
    <mat-form-field *ngIf="weekNumbers">
        <mat-select  placeholder="Woche" [value]="selectedWeekNumber" (valueChange)="setWeek($event)">
            <mat-option *ngFor="let weekNumber of weekNumbers" [value]="weekNumber">{{getValueName(weekNumber)}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>