/WebPortal/target/
/golem/target/
/Golem/target/
/Entities/target/
/common/target/
/REST-API/nbproject/private/
/REST-API/target/
/JS-WebPortal/node_modules/
/JS-WebPortal/typings/
*.project
*.classpath
*eclipse*.prefs
*.log*
foxx-services/*.zip
Graphics/Gifs/20181101_gurley.gif
