<table *ngIf="dataSource?.data?.length > 0" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let player"> {{player.name}} </td>
  </ng-container>
  <ng-container matColumnDef="spot">
    <th mat-header-cell *matHeaderCellDef> Spot </th>
    <td mat-cell *matCellDef="let player"> {{player.spot}} </td>
  </ng-container>
  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef> <p fxLayoutAlign="end center">Points</p> </th>
    <td mat-cell *matCellDef="let player" > <strong fxLayoutAlign="end center">{{player.performance?.FantasyPoints | number: '0.2'}}</strong> </td>
  </ng-container>
  <ng-container matColumnDef="int">
    <th mat-header-cell *matHeaderCellDef> INT </th>
    <td mat-cell *matCellDef="let player"> {{player.performance?.Interceptions}} </td>
  </ng-container>
  <ng-container matColumnDef="fumble">
    <th mat-header-cell *matHeaderCellDef> FF </th>
    <td mat-cell *matCellDef="let player"> {{player.performance?.FumblesForced}} </td>
  </ng-container>
  <ng-container matColumnDef="allowed">
    <th mat-header-cell *matHeaderCellDef> Allowed </th>
    <td mat-cell *matCellDef="let player"> {{player.performance?.PointsAllowedByDefenseSpecialTeams}}</td>
  </ng-container>
  <ng-container matColumnDef="sacks">
    <th mat-header-cell *matHeaderCellDef> Sacks </th>
    <td mat-cell *matCellDef="let player"> {{player.performance?.Sacks}}</td>
  </ng-container>
  <ng-container matColumnDef="TDs">
    <th mat-header-cell *matHeaderCellDef> TDs </th>
    <td mat-cell *matCellDef="let player"> {{player.performance?.DefensiveTouchdowns}}</td>
  </ng-container>
  <ng-container matColumnDef="safety">
    <th mat-header-cell *matHeaderCellDef> Safety </th>
    <td mat-cell *matCellDef="let player"> {{player.performance?.Safeties}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="defenseColumnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: defenseColumnsToDisplay"></tr>
</table>