<form *ngIf="newsItem" (ngSubmit)="onSave()">
  <mat-form-field>
    <input matInput placeholder="Author">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newsItem.title" name="title" placeholder="Title">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Content"></textarea>
  </mat-form-field>
  <button mat-button type="submit">Speichern</button>
</form>
<div *ngIf="!newsItem"> None selected</div>