<form *ngIf="newsItem" (ngSubmit)="onSave()" fxLayout="column" >
  <mat-form-field>
    <input matInput [(ngModel)]="newsItem.author" placeholder="Autor" name="author" >
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="newsItem.publicationDate" name="date" placeholder="Datum auswählen">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newsItem.title" name="title" placeholder="Title">
  </mat-form-field>
  <angular-editor  [(ngModel)]="newsItem.content" name="content" [config]="editorConfig"></angular-editor>
    <button mat-button type="submit">Speichern</button>
</form>
<div *ngIf="!newsItem"> None selected</div>