<div *ngIf="team" fxLayout="column" fxLayoutGap="10px">
  <mat-card class="infoCard">
      <img [src]=team.logoPath/> {{team.name}}
      <p>
        <strong>Gegründet: </strong>{{team.foundedIn}}
        <strong>VS-Trophy Mitglied seit: </strong>{{team.memberSince}}</p>
      <p>
        <strong>Ort: </strong>{{team.city}}
        <strong>Stadion: </strong>{{team.stadium}}</p>
      <p>
        <strong>Farben: </strong>{{team.colors}}</p>

  </mat-card>
  <vst-team-stats [nflId]=team.nflId class="stats"></vst-team-stats>
</div>