<div class="row justify-content-md-center" *ngIf="team">
  <div class="card column">
    <div class="card-body">
      <h1 class="card-title">
        <img class="img-fluid" [src]=team.logoPath/> {{team.name}}
      </h1>

      <div class="card-text">
        <p>
          <strong>Gegründet: </strong>{{team.foundedIn}}

          <strong>VS-Trophy Mitglied seit: </strong>{{team.memberSince}}</p>
        <p>
          <strong>Ort: </strong>{{team.city}}

          <strong>Stadion: </strong>{{team.stadium}}</p>
        <p>
          <strong>Farben: </strong>{{team.colors}}</p>
          <vst-team-stats [nflId]=team.nflId></vst-team-stats>
      </div>
    </div>
  </div>
</div>
