<form class="form-inline">
    <label for="Titel">Titel:</label>
    <input id="title" pInputText  [(ngModel)]="newsItem.title" placeholder="title" class="title" name="title" />
    <label for="author">Autor:</label>
    <input id="author" pInputText  [(ngModel)]="newsItem.author" placeholder="autor" class="" name="author" />
</form>
<div class="panel panel-default news-editor">
    <button pButton type="button" (click)="onSaveNewsItem()" label="Speichern"></button>
    <button pButton type="button" (click)="onCancel()" label="Zurück"></button>

</div>