<mat-card>
  <div fxLayout="row" fxLayoutAlign="center center">
    <a routerLink="/teams/{{match.firstTeamId}}" fxFlex fxLayout="column" fxLayoutAlign="center center" [class]="getFirstTeamClass()">
      <img mat-card-avatar [src]="match.firstTeamLogoPath" /> {{match.firstTeamName}}</a>
    <div fxFlex fxLayoutAlign="center">
      <span [class]="getFirstTeamClass()">{{match.firstTeamPoints}} </span>
      <span> &nbsp;VS&nbsp; </span>
      <span  [class]="getSecondTeamClass()"> {{match.secondTeamPoints}}</span>
    </div>
    <a routerLink="/teams/{{match.secondTeamId}}" fxFlex fxLayout="column" fxLayoutAlign="center center" [class]="getSecondTeamClass()">
      <img mat-card-avatar [src]="match.secondTeamLogoPath" /> {{match.secondTeamName}} </a>
      
  </div>
  <mat-progress-bar class="progress" [value]="getProgressBarValue()"></mat-progress-bar>
</mat-card>